@media (max-width: 670px) {
    .calculator{
        max-width: 100%;
        margin: 50px auto 50px auto;
        text-align: center;
    }

    .calculator-screen{
        height: 50px;
        font-size: 24px;
        width: 70%;
    }

    .calculator-keys{
        width: 70%;
        margin: 0 auto;
    }
    
    button{
        height: 50px;
        font-size: 24px;
        width: 25%;
    }
}
