body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 50px auto;
  padding: 30px;
  width: 400px;
  background-color: #E5E3C9;
  border-radius: 30px;
}

.calculator {
  box-shadow: 0px 0px 2px 9px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 2px 9px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 2px 9px rgba(0, 0, 0, 0.35);
  background-color: #6b705c;
  text-align: center;
}

.calculator, .calculator-screen,button,.calculator-keys{
    border-radius: 15px;
}

.calculator-screen {
  text-align: right;
  background-color: #6b705c;
  width: 100%;
  height: 100px;
  color: #fdfdff;
  border: none;
  box-sizing: border-box;
  font-size: 34px;
  padding: 0 20px;
}

.calculator-keys {
  width: 100%;
  background-color: #283618;
}

.row {
  display: flex;
}

button {
  height: 80px;
  background-color: #283618;
  border: 1px solid #03071e;
  color: #fdfdff;
  font-size: 32px;
  width: 25%;
  outline: none;
}

.clear,
.zero-btn {
  width: 50%;
}

.operator,
.equal-sign {
  background-color: #582f0e;
}

button:hover {
  background-color: #132a13;
}

.operator:hover,
.equal-sign:hover {
  background-color: #371d10;
}
